name: Fullstack Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install server dependencies and build
        run: |
          cd server
          npm install
          npm run build

      - name: Install client dependencies and build
        run: |
          cd client
          npm install
          npm run build

      - name: Deploy
        run: bash scripts/deploy.sh
